body {
  background-image: url(https://live.staticflickr.com/65535/49341093528_4dd35e531f_k.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.box {
  border: 2px solid black;
  width: 15%;
  text-align: center;
  background-color: white;
  margin-left: 70%;
  margin-top: 5%;
}

.b {
  border: 2px solid black;
  height: 30%;
  width: 10%;
  text-align: center;
  background-color: green;
  text-color: white;
}

.container {
  border: 2px solid black;
  width: 65%;
  height: 400px;
  text-align: left;
  margin-top: 1%;
  margin-left: 15%;
  background-color: white;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-gap: 1em;
  padding: 5px;
}

.wrapper {
  display: grid;
  grid-template-columns: 40% 60%;
}

nav ul li{
  float: left;
  display: inline;
  padding: 5px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: gray;
}

span {
  color: green;
  padding-left: 30px;
}

nav a:hover {
  color: orange;
}

h2 {
  font-size: 30px;
}
